/** BOUTTON **/

.btn {
  @include flex-center;
}

.btn-order {
  height: 40px;
  padding: 15px;
  margin: 30px 0;
  border-radius: 20px;
  background: $color-btn;
  color: white;
  border: none;
  cursor: pointer;
  @include flex-center;
  @include btn-shadow;
  transition: 0.4s;
  &--large {
    padding: 0 40px;
  }

  &:hover {
    filter: brightness(1.1);
    box-shadow: 0px 5px 15px darken($color-background, 60%);
  }
}
