.img-header {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.cards-menu {
  background-color: $color-background;
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  margin-top: -30px;
  padding: 0 10px;

  &__header {
    display: flex;
    align-items: center;
    padding: 30px 50px 30px 0;
    position: relative;
  }
}
.btn-heart--position {
  position: absolute;
  margin-bottom: 13px;
}

.menu {
  &__title {
    font-weight: lighter;
    padding: 5px 0;
    border-bottom: 3px $color-tertiary solid;
    width: 50px;
  }
  &__contents {
    margin: 10px 0;
  }
  &__item {
    width: 100%;
    background-color: white;
    margin: 15px 0;
    border-radius: 10px;
    @include btn-shadow;
    padding: 10px 50px 10px 10px;
    position: relative;
  }
  &__price {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: block;
  }
  &__dish {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__subtile {
    font-weight: lighter;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
